* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

a {
    font-size: 24px;
}

.one {
    color: blue;
}

.two {
    color: red;
}

.three {
    color: green;
}