* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: blueviolet;
    font-size: 40px;
    background-color: rgb(169, 227, 183);
    width: fit-content;
    margin: 40px auto;
    padding: 5px;
    border-radius: 7px;
}

a {
    font-size: 22px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

.one {
    color: blue;
}

.two {
    color: red;
}

.three {
    color: green;
}