* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    display: block;
    height: auto;
    width: 33%;
    margin: 30px auto;
}

h1 {
    color: blue;
    background-color: lightcyan;
    width: fit-content;
    font-size: 60px;
    text-align: center;
    margin: 30px auto;
    border-radius: 7px;
    padding: 5px;
}

h2 {
    padding: 5px;
    background-color: black;
    color: white;
}

h3 {
    padding: 5px;
    background-color: yellow;
    color: red;

}

.one {
    color: rgb(200, 25, 76);
    background-color: rgba(84, 210, 30, 0.236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.two {
    color: rgb(23, 210, 166);
    background-color: brown;
    font-style: oblique;
}

#pele {
    color: white;
    background-color: rgb(0, 60, 255);
    font-size: 24px;
    padding: 5px;
}

.messi {
    color: blue;
    background-color: coral;
    font-size: 24px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
}

li {
    font-size: 20px;
    padding: 5px;
}